.search-noads__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  justify-items: center;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.search-listing__container {
  background-color: var(--light-color);
  padding: var(--card-padding);
  border-radius: 10px;
  border: 1px solid var(--darker-color);
  height: 500px;
  width: 300px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-listing__container p {
  height: 190px;
  overflow: hidden;
}

.search-footer__container {
  margin: 1rem 0rem;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 78%;
  bottom: 10px;
}

#search-footer__button {
  margin-top: 1rem;
  transition: var(--button-transition);
  border: none;
  background: var(--background-color);
  border-radius: 4px;
  cursor: pointer;
}

#search-footer__button a {
  outline: none;
  color: rgb(250, 250, 250);
  display: inline-block;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: var(--button-padding);
}

#search-footer__button a:hover {
  box-shadow: none;
  text-decoration: none;
}

#search-footer__button:hover {
  transform: translateY(-2px);
  box-shadow: var(--button-boxShadow);
}

@media screen and (max-width: 1200px) {
  .search-noads__container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }
}

@media screen and (max-width: 768px) {
  .search-noads__container {
    grid-template-columns: 1fr;
  }
}
