{% extends 'base_template.html' %}{% block content %}
<div class="home-container">
  <div class="home-subContainer">
    <h1>What is JobCentric?</h1>
    <p>JobCentric is a site dedicated to bringing transparency to both the hiring and applying process</p>
  </div>
  <div class="home-subContainer">
    <h1>Who's JobCentric for?</h1>
    <p>
      JobCentric is built for both Employeers, and users looking for employment oppurtunities. JobCentric does all the
      heavy lifting on both ends, keeping users updated on a Job Listing or Application.
    </p>
  </div>
  <div class="home-subContainer">
    <h1>Why should I use JobCentric</h1>
    <h5>
      JobCentric is built on one foundational principal - no person filling out a job application or an employeer
      deserves to get ghosted. With a system built in place to both manage and track the status of Job listings,
      Applications, and other key parts that play a role in hiring/applying, JobCentric can make applying to jobs a
      little less stressful.
    </h5>
  </div>
  <div class="home-subContainer">
    <h1>Want to get started? Sign up <a href="/signup/">here </a></h1>
  </div>
</div>
{% endblock %}
