{% extends 'base.html' %} {% block content %}
<br />
<div
  class="jumbotron jumbotron-fluid text-center"
  style="background-color: #9900ff"
>
  <div class="container">
  </div>
</div>

<div class="card text-center">
  <div
    class="card-header text-white text-shadow"
    style="background-color: #9900ff"
  >
    <h3 class="font-bold">Post a Job</h3>
  </div>
  <div class="card-body align-items-center" style="background-color: #9900ff">
    <form action="" method="POST">
      {% csrf_token %} {{ form.as_p }}
      <input
        type="submit"
        class="btn text-white"
        style="background-color: #5fec64"
        value="Submit"
      />
    </form>
  </div>
</div>

{% endblock %}