{% extends 'base.html' %} {% block content %}
<br />
<div class="jumbotron jumbotron-fluid text-center" style="background-color: #9900ff">
  <div class="container">
    <h1 class="display-4 text-white font-weight-bolder">
     Welcome to Job Zone</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body" style="background-color: #9900ff">
        <h5 class="card-title">Login</h5>
        <p class="card-text align-items-center">
          <form action="" method="POST" class="align-items-center">
            {% csrf_token %} {{ form.as_p }}
            <input type="submit" class="btn text-white" style="background-color: #030303" value="Login" />
          </form>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body" style="background-color: #9900ff">
        <h5 class="card-title">Create Account</h5>
        <p class="card-text">
          Don't have an account with us? Click below to create your account!
        </p>
        <a href="/register/" class="btn text-white" style="background-color: #030303">Sign Up</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}