{% extends 'base.html' %} {% block content %}

<br />
<div class="card shadow-sm border-dark">
  <div class="card-header text-dark" style="background-color: #9900ff">
    <a class="btn btn-danger float-right" href="/logout/" role="button"
      >Logout</a
    >
    <h3 class="card-title text-white">Hello, {{user.display_name}}</h3>
    <h5 class="card-subtitle mb-2 text-muted">
      <span class="badge badge-light"
        ><a href="/profile/{{user.username}}/" class="text-dark"
          >@{{user.username}}</a
        ></span
      >
    </h5>
  </div>
</div>
<br />

{% if not mentions %}
<div class="container text-light">
  <p>
    It looks like you don't have any notifications right now. Please check
    later.
  </p>
</div>
{% else %}

<p class="text-light">
  You currently have {{count}} notification(s). Check them below.
</p>

{% for mention in mentions %}
<div class="card text-white shadow-sm" style="background-color: #9900ff">
  <div class="card-header border-light">
    <span class="badge badge-inherit text-light"
      ><a
        href="/profile/{{mention.user.username}}/"
        style="color: inherit; font-weight: bold; font-size: 20px"
        >{{mention.user.display_name}}</a
      ></span
    >
    <span class="text-muted" style="color: #9900ff"
      ><a href="/profile/{{mention.user.username}}/" style="color: inherit"
        >@{{mention.user.username}}</a
      ></span
    >
  </div>
  <div class="card-body text-dark" style="background-color: #9900ff">
    <blockquote class="blockquote mb-0">
      <p>{{ mention.listing }}</p>
      <footer class="blockquote-footer float-right">
        <cite>{{mention.time}}</cite> |
        <a href="/listing/{{mention.id}}/">Link</a>
      </footer>
    </blockquote>
  </div>
</div>
<br />
{% endfor %} {% endif %} {% endblock %}